.background img{
    width:200px;
    height:auto;
    padding:20px;
}
.background{
    background-color: #3A2E85;
    width:250px;
    height:auto;
    
}
.background p{
    color:#FFD740;
    padding:10px;

}

.background h2{
    color:white;
    text-align:center;
    
}


.sports ,.favorites{
    display:flex;
    justify-content: space-around;
}
.favorites, footer{
    margin-top:20px;
}